01-redux-basic/node_modules

# 02-REDUX-APP -----------------
# compiled output
02-redux-app/dist
02-redux-app/tmp
02-redux-app/out-tsc

# dependencies
02-redux-app/node_modules

# profiling files
02-redux-app/chrome-profiler-events.json
02-redux-app/speed-measure-plugin.json

# IDEs and editors
02-redux-app/.idea
02-redux-app/.project
02-redux-app/.classpath
02-redux-app/.c9/
02-redux-app/*.launch
02-redux-app/.settings/
02-redux-app/*.sublime-workspace

# IDE - VSCode
02-redux-app/.vscode/*
02-redux-app/!.vscode/settings.json
02-redux-app/!.vscode/tasks.json
02-redux-app/!.vscode/launch.json
02-redux-app/!.vscode/extensions.json
02-redux-app/.history/*

# misc
02-redux-app/.sass-cache
02-redux-app/connect.lock
02-redux-app/coverage
02-redux-app/libpeerconnection.log
02-redux-app/npm-debug.log
02-redux-app/yarn-error.log
02-redux-app/testem.log
02-redux-app//typings

# System Files
02-redux-app/.DS_Store
02-redux-app/Thumbs.db
# End 02-REDUX-APP --------------------


# 03-TODOAPP -----------------
# compiled output
03-todoapp/dist
03-todoapp/tmp
03-todoapp/out-tsc

# dependencies
03-todoapp/node_modules

# profiling files
03-todoapp/chrome-profiler-events.json
03-todoapp/speed-measure-plugin.json

# IDEs and editors
03-todoapp/.idea
03-todoapp/.project
03-todoapp/.classpath
03-todoapp/.c9/
03-todoapp/*.launch
03-todoapp/.settings/
03-todoapp/*.sublime-workspace

# IDE - VSCode
03-todoapp/.vscode/*
03-todoapp/!.vscode/settings.json
03-todoapp/!.vscode/tasks.json
03-todoapp/!.vscode/launch.json
03-todoapp/!.vscode/extensions.json
03-todoapp/.history/*

# misc
03-todoapp/.sass-cache
03-todoapp/connect.lock
03-todoapp/coverage
03-todoapp/libpeerconnection.log
03-todoapp/npm-debug.log
03-todoapp/yarn-error.log
03-todoapp/testem.log
03-todoapp/typings

# System Files
03-todoapp/.DS_Store
03-todoapp/Thumbs.db
# End-TODOAPP -----------------